* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: aliceblue;
  font-family: sans-serif;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 2px; /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible /
  / optional: show position indicator in red */
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
